.kss-node.water {
  .kss-sidebar {
    background: #f5f5f5;
    box-shadow: none;
  }
  li.kss-nav__menu-item {
    margin: 0;
    padding: 0;
    line-height: 30px;
    border: 0;
  }
  .kss-nav__menu-child {
    margin: 0 0 0 15px;
    .kss-nav__menu-link {
      padding: 0 0 0 15px;
    }
  }
  .kss-nav__menu-link.is-in-viewport {
    font-weight: bold;
    
    &:before {
      display: none;
    }
  }
  .kss-modifier__heading {
    display: none;
  }
  .kss-toolbar {
    display: none;
  }
  .kss-modifier__wrapper {
    margin: 0 0 30px 0;
    border: 0;
    padding: 0;
  }
  .kss-section--depth-1  {
    display: none;
  }
  .kss-nav__ref,
  .kss-title__ref {
    display: none;
  }
}
