<a href="#" class="btn {{modifier_class|default('btn-primary')}}">
    Link Button
</a>

<button class="btn {{modifier_class|default('btn-primary')}}">
  Button Elements
</button>

<input type="button" class="btn {{modifier_class|default('btn-primary')}}" value="input[type='button']"/>
