// Buttons
//
// Our primary button is our cta, only use one per component.
//
// .btn-primary  - &nbsp;
//
// Markup: button.twig
//
// Style guide: Atoms.2

.btn-primary {
  background-color: #90cc03;
  border-color: #90cc03;
  &:hover {
    background-color: #6ebe07;
    border-color: #6ebe07;
  }
}
