// Logo Symbols
//
// Our logo should only ever be on a white background.
//
// .grayscale  - &nbsp;
//
// Markup: logo.twig
//
// Style guide: Atoms.1

a.logo {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url(/assets/img/logo.svg) center no-repeat;
    background-size: contain;
  &.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}
