<div class="kss-embed">
  <ul>
    <li><a href="#tabs-1">Result</a></li>
    <li><a href="#tabs-2">HTML</a></li>
    <li><a href="#tabs-3">CSS</a></li>
    <li><a href="#tabs-4">JS</a></li>
  </ul>
  <div id="tabs-1" class="kss-embed__html">
    <iframe class="kss-embed__html-iframe"></iframe>
    <div class="kss-embed__html-code">
      {{ section.example|raw }}
    </div>
  </div>
  <div id="tabs-2" class="kss-embed__prettyprint">
      <pre class="prettyprint linenums lang-html"><code data-language="html">{{ section.example|escape('html') }}</code></pre>
  </div>
  <div id="tabs-3" class="kss-embed__prettyprint">
    <pre class="prettyprint linenums lang-css"><code data-language="css">{{file_get_contents(section.source.path)}}
</code></pre>
  </div>
  <div id="tabs-4" class="kss-embed__prettyprint">
    <pre class="prettyprint linenums lang-js"><code data-language="js">// JS Here</code></pre>
  </div>
</div>
